* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(222, 184, 135);
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: aqua;
}

img {
    border-radius: 50px;
}

#banner {
    flex: 2;
    background-color: rgb(222, 184, 135);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner h1 {
    width: 100%;
    font-size: 10vh;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

ul li {
    margin: 20px;
}

#novidade {
    text-align: center;
    font-size: 5vh;
    color: white;
    background-color: rgb(44, 40, 40);
    padding: 1vh;
    text-decoration: underline;
}

#novid, #mine, #cs, #rdr2, #gt, #kojima {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44, 40, 40);
    padding: 1vh;
}


#rdr2 {
    padding: 4vh;
}

#lançamentos {
    text-align: center;
    font-size: 12vh;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 40, 40);
    padding: 1vh;
    text-decoration: underline;
}
    


